.post_detail {
    margin-bottom: 2em;
    padding-bottom: 2em;
    box-shadow: rgba(0, 0, 0, 0.432) 0px -2px 10px 0px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .post_detail img {
    max-width: 600px;
    border-radius: 5px;
  }
  
  .post_detail h2 {
    margin-bottom: 0.4em;
    font-family: "Righteous", sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
  }
  
  .tags p {
    margin-right: 0.5em;
  }
  
  .tags span {
    font-weight: bold;
  }
  
  .createdby {
    font-family: "Merriweather", sans-serif;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1em;
    word-spacing: 20px;
  }